{% extends "iommi/base.html" %}

{% block title %}{% if html_title %}{{ html_title }}{% else %}{{ title }}{% endif %}{% endblock %}

{% block iommi_top %}
    {% include "newwinetraining/templates/iommi/my_menu.html" %}
{% endblock %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

{% block iommi_bottom %}
    {% include "newwinetraining/templates/iommi/my_footer.html" %}
{% endblock %}